# Pandas - Long / Wide Format

In [1]:
import os
import numpy as np
import pandas as pd

### Create DataFrame mit id,typ unique und einem Value

In [2]:
m = 10
df = pd.DataFrame(np.random.rand(m,1), columns=['Value'])
df['id'] = np.random.randint(3, size=(m, 1))
df['typ'] = np.random.choice(list('abc'), size=m, replace=True)
df = df.groupby(['id','typ'],as_index=False).mean()
df

   id typ     Value
0   0   a  0.553000
1   0   b  0.085469
2   1   b  0.752996
3   2   b  0.142020
4   2   c  0.316447

### Umwandlung: From Long to Wide Format

In [3]:
wide = df.pivot(index='id',columns='typ',values='Value')
wide

typ      a         b         c
id
0    0.553  0.085469       NaN
1      NaN  0.752996       NaN
2      NaN  0.142020  0.316447

### Umwandung: From Wide to Long Format

In [4]:
wide['id'] = wide.index
long = wide.melt(id_vars=['id'],value_vars=list('abc'))
long

   id typ     value
0   0   a  0.553000
1   1   a       NaN
2   2   a       NaN
3   0   b  0.085469
4   1   b  0.752996
5   2   b  0.142020
6   0   c       NaN
7   1   c       NaN
8   2   c  0.316447