# Pandas - Create DataFrames

In [1]:
import sys
import numpy as np
import pandas as pd

### Leeres DataFrame erzeugen

In [2]:
df = pd.DataFrame()
print(df.shape)
df

(0, 0)

Empty DataFrame
Columns: []
Index: []

### DataFrame mit Random Wertem (int Labels)

In [3]:
df = pd.DataFrame(np.random.rand(4,3))
df

          0         1         2
0  0.248741  0.302400  0.270462
1  0.018134  0.517030  0.894101
2  0.711506  0.684818  0.226876
3  0.549611  0.136184  0.076950

### DataFrame mit Index- und Column-Names

In [4]:
idx = ['n'+str(i) for i in range(4)]
col = list('abc')
print(idx)
df = pd.DataFrame(np.random.rand(4,3), index=idx, columns=col)
df

['n0', 'n1', 'n2', 'n3']

           a         b         c
n0  0.077774  0.782692  0.316399
n1  0.119405  0.367227  0.276669
n2  0.828863  0.465631  0.035735
n3  0.978069  0.783884  0.963014

### Create DataFrame from Dictionaries, Items und Records

In [5]:
myDict = [{'k1':4, 'k2':6}, {'k1':7, 'k2':3 }]
pd.DataFrame(myDict)

   k1  k2
0   4   6
1   7   3

In [6]:
# Create DataFrame from Dictionaries (Spalten orientiert)
myDict = {'k1':[3,3,3,3], 'k2':[9,9,9,9], 'k3': [0,0,0,0]}
pd.DataFrame.from_dict(myDict)

   k1  k2  k3
0   3   9   0
1   3   9   0
2   3   9   0
3   3   9   0

In [7]:
# Create DataFrame from Items (Spalen orientiert)
myDict = [('k1',[3,3,3,3]), ('k2',[9,9,9,9]), ('k3',[0,0,0,0])]
pd.DataFrame.from_items(myDict)

   k1  k2  k3
0   3   9   0
1   3   9   0
2   3   9   0
3   3   9   0

In [8]:
# Create DataFrame from Records Zeilen orientiert
data = [(3,3,3,3),(9,9,9,9),(0,0,0,0)]
labels = ['k1','k2','k3','k4']
pd.DataFrame.from_records(data, columns=labels)

   k1  k2  k3  k4
0   3   3   3   3
1   9   9   9   9
2   0   0   0   0

In [9]:
# Create DataFrame aus Zeilen
z1 = [3,3,3,3]
z2 = [9,9,9,9]
z3 = [0,0,0,0]
labels = ['k1','k2','k3','k4']
pd.DataFrame(list([z1, z2, z3]),columns=labels)

   k1  k2  k3  k4
0   3   3   3   3
1   9   9   9   9
2   0   0   0   0

In [10]:
# Create DataFrame aus Spalten
k1 = [3,3,3,3]
k2 = [9,9,9,9]
k3 = [0,0,0,0]
labels = ['k1','k2','k3']
pd.DataFrame(list(zip(k1, k2, k3)),columns=labels)

   k1  k2  k3
0   3   9   0
1   3   9   0
2   3   9   0
3   3   9   0

### Rename Column- und Index- Names

In [11]:
df = pd.DataFrame(np.random.rand(4,3))
# Rename Column-Names
df.columns = ['Col1','Col2','Col3']
df

       Col1      Col2      Col3
0  0.711674  0.868000  0.327399
1  0.257125  0.648372  0.951149
2  0.550330  0.345655  0.918268
3  0.477683  0.898459  0.384579

In [12]:
df = pd.DataFrame(np.random.rand(4,3))
# Rename Index-Names
df.index = ['z1','z2','z3','z4']
df

           0         1         2
z1  0.778726  0.911678  0.828554
z2  0.880615  0.801156  0.332224
z3  0.293075  0.268953  0.685845
z4  0.836542  0.866007  0.127110

### Spalten oder Zeilen löschen

In [13]:
# Spalten loeschen
df = pd.DataFrame(np.random.rand(4,3), columns=list('abc'))
df.drop(['a','b'],axis=1)
# oder
df = pd.DataFrame(np.random.rand(4,3), columns=list('abc'))
df.drop(df.columns[[0, 1]], axis=1)

          c
0  0.157421
1  0.208955
2  0.602065
3  0.540308

In [14]:
# spezifische Zeilen loeschen
df = pd.DataFrame(np.random.rand(4,3), columns=list('abc'))
idx = df.index[df['a']>0.8]
df.drop(idx)

          a         b         c
0  0.539055  0.927332  0.138553
1  0.243931  0.511326  0.888372
2  0.403783  0.126746  0.938219
3  0.442907  0.921595  0.180989